{% extends 'base.html' %}

{% load static %}

{% block content %}
  <li>Patient's Basic Data</li>
  <blockquote>
    <table border="1">
      <tr>
        <td style="width:220px">Patient ID</td>
        <td style="width:500px">{{ pid }}</td>
      </tr>
      <tr>
        <td>Patient Name</td>
        <td>{{ name }}</td>
      </tr>
      <tr>
        <td>Sex</td>
        <td>{{ sex }}</td>
      </tr>
      <tr>
        <td>Age</td>
        <td>{{ age }}</td>
      </tr>
      <tr>
        <td>MP age</td>
        <td>{{ mp }}</td>
      </tr>
    </table>
  </blockquote>
  <br>

  <li>Data grab from ITRI system:</li>
  <blockquote>
    <table border="1">
      <tr>
        <td style="width:220px">Region</td>
        <td style="width:500px">{{ region }}</td>
      </tr>
      <tr>
        <td>T-score</td>
        <td>{{ tscore }}</td>
      </tr>
      <tr>
        <td>Z-score</td>
        <td>{{ zscore }}</td>
      </tr>
    </table>
  </blockquote>
  <br>

  <li>Analyze through ITRI system:</li>
  <blockquote>
    <table border="1">
      <tr>
        <td style="width:220px">Group-by</td>
        <td style="width:500px">{{ group }}-score</td>
      </tr>
      <tr>
        <td>Mean</td>
        <td>{{ mean }}</td>
      </tr>
      <tr>
        <td rowspan="2">Aver. Deviation</td>
        <td>{{ dist1 }}</td>
      </tr>
      <tr>
        <td>{{ dist2 }}</td>
      </tr>
      <tr>
        <td>Region Filter</td>
        <td>{{ regionFilter }}</td>
      </tr>
      <tr>
        <td>SR</td>
        <td>{{ machineOutcome }}</td>
      </tr>
      <tr>
        <td>SRi</td>
        <td>{{ outcome }}</td>
      </tr>
    </table>
  </blockquote>
  <br>

  <li>Result: {{ result }}</li>
  <blockquote>
    <form action="/uploads/report/" method="post">
      {% csrf_token %}
      <input type="submit" value="download report">
    </form>
    <table border="1">
      {% if grade %}
        <tr>
          <td colspan="2" style="width:220px">LVA Grade</td>
          <td style="width:500px">{{ grade }}</td>
        </tr>
      {% endif %}
      {% if majorFrac and hipFrac%}
        <tr>
          <td rowspan="2">Frax</td>
          <td>Major Osteoporotic Fracture</td>
          <td>{{ majorFrac }}</td>
        </tr>
        <tr>
          <td>Hip Fracture</td>
          <td>{{ hipFrac }}</td>
        </tr>
      {% endif %}
    </table>
  </blockquote>

  <p><a href="{% url 'manage_zip' %}">manage uploaded ZIP files</a></p>
  <p><a href="{% url 'home' %}">Return to home</a></p>
{% endblock %}
