{% extends 'base.html' %}

{% load static %}

{% block content %}
  <li>Patient's Basic Data</li>
  <blockquote>
    <table border="1">
      <tr>
        <td style="width:250px">Patient ID</td>
        <td style="width:600px">{{ pid }}</td>
      </tr>
      <tr>
        <td style="width:250px">Patient Name</td>
        <td style="width:600px">{{ name }}</td>
      </tr>
      <tr>
        <td style="width:250px">Sex</td>
        <td style="width:600px">{{ sex }}</td>
      </tr>
      <tr>
        <td style="width:250px">Age</td>
        <td style="width:600px">{{ age }}</td>
      </tr>
      <tr>
        <td style="width:250px">MP age</td>
        <td style="width:600px">{{ mp }}</td>
      </tr>
    </table>
  </blockquote>
  <br>

  <li>Data grab from ITRI system:</li>
  <blockquote>
    <table border="1">
      <tr>
        <td style="width:250px">Region</td>
        <td style="width:600px">{{ region }}</td>
      </tr>
      <tr>
        <td style="width:250px">T-score</td>
        <td style="width:600px">{{ tscore }}</td>
      </tr>
      <tr>
        <td style="width:250px">Z-score</td>
        <td style="width:600px">{{ zscore }}</td>
      </tr>
    </table>
  </blockquote>
  <br>

  <li>Analyze through ITRI system:</li>
  <blockquote>
    <table border="1">
      <tr>
        <td style="width:250px">Group-by</td>
        <td style="width:600px">{{ group }}-score</td>
      </tr>
      <tr>
        <td style="width:250px">Mean</td>
        <td style="width:600px">{{ mean }}</td>
      </tr>
      <tr>
        <td rowspan="2">Aver. Deviation</td>
        <td>{{ dist1 }}</td>
      </tr>
      <tr>
        <td>{{ dist2 }}</td>
      </tr>
      <tr>
        <td style="width:250px">Region Filter</td>
        <td style="width:600px">{{ regionFilter }}</td>
      </tr>
      <tr>
        <td style="width:250px">SR</td>
        <td style="width:600px">{{ machineOutcome }}</td>
      </tr>
      <tr>
        <td style="width:250px">SRi</td>
        <td style="width:600px">{{ outcome }}</td>
      </tr>
    </table>
  </blockquote>
  <br>

  <li>Result: {{ result }}</li>
  <blockquote>
    <form action="/uploads/report/" method="post">
      {% csrf_token %}
      <input type="submit" value="download report">
    </form>
    <table border="1">
      {% if grade %}
        <tr>
          <td style="width:250px" colspan="2">LVA Grade</td>
          <td style="width:600px">{{ grade }}</td>
        </tr>
      {% endif %}
      {% if majorFrac and hipFrac%}
        <tr>
          <td rowspan="2">Frax</td>
          <td>Major Osteoporotic Fracture</td>
          <td style="width:600px">{{ majorFrac }}</td>
        </tr>
        <tr>
          <td>Hip Fracture</td>
          <td style="width:600px">{{ hipFrac }}</td>
        </tr>
      {% endif %}
    </table>
  </blockquote>

  <p><a href="{% url 'manage_zip' %}">manage uploaded ZIP files</a></p>
  <p><a href="{% url 'home' %}">Return to home</a></p>
{% endblock %}
