{% extends 'base.html' %}

{% load static %}

{% block content %}
  <li>Patient's Basic Data</li>
  <blockquote>
    id: {{ pid }}<br>
    name: {{ name }}<br>
    sex: {{ sex }}<br>
    age: {{ age }}<br>
    mp: {{ mp }}<br>
  </blockquote>
  <br>

  <li>Data grab from ITRI system:</li>
    <blockquote>
      region: {{ region }}<br>
      T-score: {{ tscore }}<br>
      Z-score: {{ zscore }}<br>

      group by: {{ group }}-score<br>
      dist1: {{ dist1 }}<br>
      dist2: {{ dist2 }}<br>

      regionFilter: {{ regionFilter }}<br>
      SR: {{ machineOutcome }}<br>
      SRi: {{ outcome }}<br>
      <br>
      result: {{ result }}<br>

      {% if grade %}
        <li>LVA Grade: {{ grade }}</li>
      {% endif %}

      {% if majorFrac and hipFrac%}
        <li>Major Osteoporotic Fracture: {{ majorFrac }}</li>
        <li>Hip Fracture: {{ hipFrac }}</li>
      {% endif %}

    </blockquote>

  <p><a href="{% url 'manage_zip' %}">manage uploaded ZIP files</a></p>
  <p><a href="{% url 'home' %}">Return to home</a></p>
{% endblock %}
