{% extends 'base.html' %}

{% block content %}
  <ul>
    <li>
      <a href="{% url 'upload_dcm' %}">Upload Single DCM file</a>
    </li>
    <li>
      <a href="{% url 'upload_zip' %}">Upload Single Zip file</a>
    </li>
    <li>
      <a href="{% url 'manage_dcm' %}">Manage Uploaded DCM files</a>
    </li>
    <li>
      <a href="{% url 'manage_zip' %}">Manage Uploaded ZIP files</a>
    </li>
  </ul>

  <p>Uploaded files:</p>
  <ul>
    {% for obj in documents %}
      <li>
        <a href="{{ obj.document.url }}">{{ obj.document.name }}</a>
        <small>(Uploaded at: {{ obj.uploaded_at }})</small>
      </li>
    {% endfor %}
  </ul>
{% endblock %}