{% extends 'base.html' %}

{% block content %}  
  <br>
  <div class="container">
    <div class="row justify-content-center">
      <a href="{% url 'main_upload' %}"><button type="button" class="btn btn-outline-primary btn-lg">Upload</button></a>
      <div class="ml-3 mr-3">
        <a href="{% url 'main_manage' %}"><button type="button" class="btn btn-outline-danger btn-lg">Manage</button></a>
      </div>
      <a href="{% url 'statistics' %}"><button type="button" class="btn btn-outline-warning btn-lg">Statistics</button></a>  
    </div>
  </div>
{% endblock %}