{% extends 'base.html' %}

{% load static %}

{% block content %}

  <form action="/uploads/manageZIP/" method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-outline-primary mb-3">Delete</button>
    <br>

    <ul class="list-group list-group-flush align-center">
      <!-- {% for file in onlyfiles %}
      <li class="list-group-item">
        <input class="ml-3" type='checkbox' name='selected' value={{file}}>
        <label><a href="{% url 'manage_show_zip' %}?file={{file}}">{{ file }}</a></label>
        <span class="badge badge-primary badge-pill ml-3">我是上傳時間</span>
      </li>
      {% endfor %} -->
      {% for patient in patients %}
      <li class="list-group-item">
        <input class="ml-3" type='checkbox' name='selected' value={{patient.pid}}>
        <label><a href="{% url 'manage_show_zip' %}?file={{ patient.pid }}">{{ patient.pid }}</a></label>
        <span class="badge badge-primary badge-pill ml-3">{{ patient.pub_date }}</span>
      </li>
      {% endfor %}
    </ul>

  </form>

{% endblock %}