{% extends 'base.html' %}

{% load static %}

{% block content %}

  <form action="/uploads/manageZIP/" method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-outline-primary mb-3">Delete</button>
    <br>

    {% for file in onlyfiles %}
      <input class="ml-3" type='checkbox' name='selected' value={{file}}>
      <label><a href="{% url 'manage_show_zip' %}?file={{file}}">{{ file }}</a></label>
      <label class="ml-3">我是上傳時間</label>
      <br>
    {% endfor %}
  </form>

{% endblock %}