{% extends 'base.html' %}

{% load static %}

{% block content %}  
  <div class="row">
    <div class="col-4">
      <form action="/uploads/rename/" method="post">
        {% csrf_token %}
          <div class="input-group mb-3">
            <input type="text" name="rename" class="form-control" placeholder="Rename this file" aria-label="Recipient's username" aria-describedby="basic-addon2">
            <div class="input-group-append">
              <button class="btn btn-outline-primary" type="submit">submit</button>
            </div>
          </div>
      </form>
    </div>
    
    <div class="col-1">
      <form action="/uploads/manageShowZIP/" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-outline-danger">Delete</button>
      </form>
    </div>
  
    <div class="col-7">
      <form action="/uploads/download/" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-outline-warning">Download</button>
      </form>
    </div>
  </div>
  

  <li>zipFileName: {{ myZipFile }}</li>
  <li>zipFilePath: {{ zipFilePath }}</li>

  <form action="/uploads/checkAPSpine/" method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-primary">check APSpine</button>
  </form>

  <li>dir_tree:</li>

  <blockquote>
  {% for dir, file in file_dir_list %}
    {% if '.dcm' in file %}
      <div>
        <a href="{% url 'show_zip' %}?file={{file}}">{{ dir }}</a>
      </div>
    {% else %}
      <div>
        {{ dir }}
      </div>
    {% endif %}
  {% endfor %}
  </blockquote>

{% endblock %}
