{% extends 'base.html' %}

{% block content %}
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %} <!-- cross site request forgery protection 防止別的網站對站台作攻擊-->
    {{ form.as_p }} <!-- 用這個 method 把 form 給 render 出來 -->
    <button type="submit">Upload</button>
  </form>

  <p>Uploaded files:</p>
  <ul>
    {% for obj in documents %}
      <li>
        <a href="{{ obj.document.url }}">{{ obj.document.name }}</a>
        <small>(Uploaded at: {{ obj.uploaded_at }})</small>
      </li>
    {% endfor %}
  </ul>
  
  <p><a href="{% url 'home' %}">Return to home</a></p>
{% endblock %}