{% extends 'base.html' %}

{% load static %}

{% block content %}

Average bone mineral density(BMD) of L1 to L4 is {{ group }} gm/cm2, about {{ group }} of the mean of young reference value(T-score = {{ group }}).<br><br>

The BMD of right proximal femur is {{ group }} gm/cm2, and is about {{ group }} of the mean of young reference value(T-score = {{ group }}).<br><br>

The BMD of right 1/3 forearm is {{ group }} gm/cm2, about {{ group }} of the mean of young reference value(T-score = {{ group }}).<br><br>

Conclusion:<br><br>

The BMD meetis the criteria of {{ group }}, according to the WHO(World Health Organization) classification.



  <p><a href="{% url 'manage_zip' %}">manage uploaded ZIP files</a></p>
  <p><a href="{% url 'home' %}">Return to home</a></p>
{% endblock %}
