{% extends 'base.html' %}

{% load static %}

{% block content %}

  <!--<p>File uploaded at: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>-->

  <form action="/uploads/rename/" method="post">
    {% csrf_token %}
    <p>rename: <input type="text" name="rename"><input type="submit" value="submit"></p>
  </form>

  <form action="/uploads/remove/" method="post">
    {% csrf_token %}
    <input type="submit" value="delete">
  </form>

  <form action="/uploads/download/" method="post">
    {% csrf_token %}
    <input type="submit" value="download">
  </form>
  <br>

  <li>Patient's Basic Data</li>
  <blockquote>
    <table border="1">
      <tr>
        <td style="width:250px">Patient ID</td>
        <td style="width:600px">{{ pid }}</td>
      </tr>
      <tr>
        <td style="width:250px">Patient Name</td>
        <td style="width:600px">{{ name }}</td>
      </tr>
      <tr>
        <td style="width:250px">Sex</td>
        <td style="width:600px">{{ sex }}</td>
      </tr>
      <tr>
        <td style="width:250px">Age</td>
        <td style="width:600px">{{ age }}</td>
      </tr>
      <tr>
        <td style="width:250px">MP age</td>
        <td style="width:600px">{{ mp }}</td>
      </tr>
    </table>
  </blockquote>
  <br>

  <li>Data grab from ITRI system:</li>
  <blockquote>
    <table border="1">
      {% if scanType %}
        <tr>
          <td style="width:250px">scan type</td>
          <td style="width:600px">{{ scanType }}</td>
        </tr>
      {% endif %}
      {% if region %}
        <tr>
          <td style="width:250px">region</td>
          <td style="width:600px">{{ region }}</td>
        </tr>
      {% endif %}
      {% if tscore %}
        <tr>
          <td style="width:250px">T-score</td>
          <td style="width:600px">{{ tscore }}</td>
        </tr>
      {% endif %}
      {% if zscore %}
        <tr>
          <td style="width:250px">Z-score</td>
          <td style="width:600px">{{ zscore }}</td>
        </tr>
      {% endif %}
      {% if APSpine %}
        <tr>
          <td style="width:250px">AP Spine</td>
          <td style="width:600px">{{ APSpine }}</td>
        </tr>
      {% endif %}
      {% if DualFemur %}
        <tr>
          <td style="width:250px">Dual Femur</td>
          <td style="width:600px">{{ DualFemur }}</td>
        </tr>
      {% endif %}
      {% if fracture %}
        <tr>
          <td style="width:250px">Major Osteoporotic Fracture</td>
          <td style="width:600px">{{ fracture }}</td>
        </tr>
      {% endif %}
      {% if combination and T7 %}
        <tr>
          <td style="width:250px">combination</td>
          <td style="width:600px">{{ combination }}</td>
        </tr>
        <tr>
            <td style="width:250px">T7</td>
            <td style="width:600px">{{ T7 }}</td>
          </tr>
      {% endif %}
      {% if lva %}
        <tr>
          <td style="width:250px">LVA</td>
          <td style="width:600px">{{ lva }}</td>
        </tr>
      {% endif %}
    </table>
  </blockquote>
  
  <blockquote>
  {% if report %}
    report: {{ report }}<br>
    <img src="{{ report }}" alt="My image">
  {% endif %}
  </blockquote>

  <br>
  <li>dataset:</li>
  <pre>{{ dataset }}</pre>

  <p><a href="{% url 'manage_dcm' %}">Return to Manage DCM</a></p>
  <p><a href="{% url 'home' %}">Return to home</a></p>
{% endblock %}