{% extends 'base.html' %}

{% load static %}

{% block content %}

  <!--<p>File uploaded at: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>-->

  <form action="/uploads/rename/" method="post">
    {% csrf_token %}
    <p>rename: <input type="text" name="rename"><input type="submit" value="submit"></p>
  </form>

  <form action="/uploads/remove/" method="post">
    {% csrf_token %}
    <input type="submit" value="delete">
  </form>

  <form action="/uploads/download/" method="post">
    {% csrf_token %}
    <input type="submit" value="download">
  </form>

  <li>Patient's Basic Data</li>
    <blockquote>
      id: {{ pid }}<br>
      name: {{ name }}<br>
      sex: {{ sex }}<br>
      age: {{ age }}<br>
      mp: {{ mp }}<br>
    </blockquote>
    <br>

    <li>Data grab from ITRI system:</li>
    <blockquote>
      {% if region %}
        <p>region: {{ region }}</p>
      {% endif %}

      {% if tscore %}
        <p>T-score: {{ tscore }}</p>
      {% endif %}

      {% if zscore %}
        <p>Z-score: {{ zscore }}</p>
      {% endif %}

      {% if scanType %}
        <p>scan type: {{ scanType }}</p>
      {% endif %}

      {% if APSpine %}
        <p>APSpine: {{ APSpine }}</p>
      {% endif %}

      {% if DualFemur %}
        <p>DualFemur: {{ DualFemur }}</p>
      {% endif %}

      {% if fracture %}
        <p>fracture: {{ fracture }}</p>
      {% endif %}

      {% if combination and T7%}
        <p>combination: {{ combination }}</p>
        T7: {{ T7 }}
      {% endif %}

      {% if lva %}
        <p>LVA: {{ lva }}</p>
      {% endif %}
    </blockquote>
    
    <blockquote>
    {% if report %}
      report: {{ report }}<br>
      <img src="{{ report }}" alt="My image">
    {% endif %}
    </blockquote>

    <br>
    <li>dataset:</li>
    <pre>{{ dataset }}</pre>

  <p><a href="{% url 'manage_dcm' %}">Return to Manage DCM</a></p>
  <p><a href="{% url 'home' %}">Return to home</a></p>
{% endblock %}