{% extends 'base.html' %}

{% load static %}

{% block content %}

<li>Patient's Basic Data</li>
<blockquote>
  <table border="1">
    <tr>
      <td style="width:220px">Patient ID</td>
      <td style="width:500px">{{ pid }}</td>
    </tr>
    <tr>
      <td>Patient Name</td>
      <td>{{ name }}</td>
    </tr>
    <tr>
      <td>Sex</td>
      <td>{{ sex }}</td>
    </tr>
    <tr>
      <td>Age</td>
      <td>{{ age }}</td>
    </tr>
    <tr>
      <td>MP age</td>
      <td>{{ mp }}</td>
    </tr>
  </table>
</blockquote>
<br>

{% if scanType %}
<li>Data grab from ITRI system:</li>
<blockquote>
  <table border="1">
    <tr>
      <td style="width:220px">Scan Type</td>
      <td style="width:500px">{{ scanType }}</td>
    </tr>
    {% if region %}
      <tr>
        <td>Region</td>
        <td>{{ region }}</td>
      </tr>
    {% endif %}
    {% if tscore %}
      <tr>
        <td>T-score</td>
        <td>{{ tscore }}</td>
      </tr>
    {% endif %}
    {% if zscore %}
      <tr>
        <td>Z-score</td>
        <td>{{ zscore }}</td>
      </tr>
    {% endif %}
    {% if APSpine %}
      <tr>
        <td>APSpine</td>
        <td>{{ APSpine }}</td>
      </tr>
    {% endif %}
    {% if DualFemur %}
      <tr>
        <td>DualFemur</td>
        <td>{{ DualFemur }}</td>
      </tr>
    {% endif %}
    {% if fracture %}
      <tr>
        <td>Fracture</td>
        <td>{{ fracture }}</td>
      </tr>
    {% endif %}
    {% if combination and T7 %}
      <tr>
        <td>(Region, T-score, Z-score)</td>
        <td>{{ combination }}</td>
      </tr>
      <tr>
        <td>T7</td>
        <td>{{ T7 }}</td>
      </tr>
    {% endif %}
    {% if lva %}
      <tr>
        <td>LVA</td>
        <td>{{ lva }}</td>
      </tr>
    {% endif %}
  </table>
</blockquote>
<br>
{% endif %}

<li>Image Report:</li>
<blockquote>
{% if report %}
  report: {{ report }}<br>
  <img src="{{ report }}" alt="My image">
{% endif %}
</blockquote>

<br>
<li>dataset:</li>
<pre>{{ dataset }}</pre>

<p><a href="{% url 'home' %}">Return to home</a></p>
{% endblock %}