{% extends 'base.html' %}

{% load static %}

{% block content %}

<h4>Patient's Basic Data</h4>
<br>
  <table class="table table-bordered table-hover">
    <tr>
      <th width="30%" scope="row" style="background-color:#e2f4f9" scope="row">Patient ID</td>
      <td>{{ pid }}</td>
    </tr>
    <tr>
      <th scope="row" style="background-color:#e2f4f9">Patient Name</th>
      <td>{{ name }}</td>
    </tr>
    <tr>
      <th scope="row" style="background-color:#e2f4f9">Sex</th>
      <td>{{ sex }}</td>
    </tr>
    <tr>
      <th scope="row" style="background-color:#e2f4f9">Age</th>
      <td>{{ age }}</td>
    </tr>
    <tr>
      <th scope="row" style="background-color:#e2f4f9">MP age</th>
      <td>{{ mp }}</td>
    </tr>
  </table>
  <br>

{% if scanType %}
<h4>Data grab from ITRI system:</h4>
<table class="table table-bordered table-hover">
  <tr>
    <th width="30%" scope="row" style="background-color:#e2f4f9">Scan Type</th>
    <td>{{ scanType }}</td>
  </tr>
  {% if region %}
    <tr>
      <th scope="row" style="background-color:#e2f4f9">Region</th>
      <td>{{ region }}</td>
    </tr>
  {% endif %}
  {% if tscore %}
    <tr>
      <th scope="row" style="background-color:#e2f4f9">T-score</th>
      <td>{{ tscore }}</td>
    </tr>
  {% endif %}
  {% if zscore %}
    <tr>
      <th scope="row" style="background-color:#e2f4f9">Z-score</th>
      <td>{{ zscore }}</td>
    </tr>
  {% endif %}
  {% if APSpine %}
    <tr>
      <th scope="row" style="background-color:#e2f4f9">APSpine</th>
      <td>{{ APSpine }}</td>
    </tr>
  {% endif %}
  {% if DualFemur %}
    <tr>
      <th scope="row" style="background-color:#e2f4f9">DualFemur</th>
      <td>{{ DualFemur }}</td>
    </tr>
  {% endif %}
  {% if majorFrac %}
    <tr>
      <th width="30%" scope="row" style="background-color:#e2f4f9">Major Fracture</th>
      <td style="width:600px">{{ majorFrac }}</td>
    </tr>
  {% endif %}
  {% if hipFrac %}
    <tr>
      <th width="30%" scope="row" style="background-color:#e2f4f9">Hip Fracture</th>
      <td style="width:600px">{{ hipFrac }}</td>
    </tr>
  {% endif %}
  {% if combination and T7 %}
    <tr>
      <th scope="row" style="background-color:#e2f4f9">(Region, T-score, Z-score)</th>
      <td>{{ combination }}</td>
    </tr>
    <tr>
      <th scope="row" style="background-color:#e2f4f9">T7</th>
      <td>{{ T7 }}</td>
    </tr>
  {% endif %}
  {% if lva %}
    <tr>
      <th scope="row" style="background-color:#e2f4f9">LVA</th>
      <td>{{ lva }}</td>
    </tr>
  {% endif %}
</table>
</blockquote>
<br>
{% endif %}

{% if report %}
<h4>Image Report:</h4>
<blockquote>
  report: {{ report }}<br>
  <img src="{{ report }}" alt="My image">
</blockquote>
{% endif %}

<!-- <br>
<h4>Dataset:</h4>
<pre>{{ dataset }}</pre> -->

{% endblock %}