{% extends 'base.html' %}

{% load static %}

{% block content %}

  <!--<p>File uploaded at: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>-->

  <form action="/uploads/rename/" method="post">
    {% csrf_token %}
    <p>rename: <input type="text" name="rename"><input type="submit" value="submit"></p>
  </form>

  <form action="/uploads/remove/" method="post">
    {% csrf_token %}
    <input type="submit" value="delete">
  </form>

  <form action="/uploads/download/" method="post">
    {% csrf_token %}
    <input type="submit" value="download">
  </form>
  <br>

  <li>Patient's Basic Data</li>
  <blockquote>
    <table border="1">
      <tr>
        <td style="width:100px">Patient ID</td>
        <td style="width:400px">{{ pid }}</td>
      </tr>
      <tr>
        <td>Patient Name</td>
        <td>{{ name }}</td>
      </tr>
      <tr>
        <td>Sex</td>
        <td>{{ sex }}</td>
      </tr>
      <tr>
        <td>Age</td>
        <td>{{ age }}</td>
      </tr>
      <tr>
        <td>MP age</td>
        <td>{{ mp }}</td>
      </tr>
    </table>
  </blockquote>
  <br>

  <li>Data grab from ITRI system:</li>
  <blockquote>
    <table border="1">
      {% if scanType %}
        <tr>
          <td style="width:100px">scan type</td>
          <td style="width:400px">{{ scanType }}</td>
        </tr>
      {% endif %}
      {% if region %}
        <tr>
          <td>region</td>
          <td>{{ region }}</td>
        </tr>
      {% endif %}
      {% if tscore %}
        <tr>
          <td>T-score</td>
          <td>{{ tscore }}</td>
        </tr>
      {% endif %}
      {% if zscore %}
        <tr>
          <td>Z-score</td>
          <td>{{ zscore }}</td>
        </tr>
      {% endif %}
      {% if APSpine %}
        <tr>
          <td>AP Spine</td>
          <td>{{ APSpine }}</td>
        </tr>
      {% endif %}
      {% if DualFemur %}
        <tr>
          <td>Dual Femur</td>
          <td>{{ DualFemur }}</td>
        </tr>
      {% endif %}
      {% if fracture %}
        <tr>
          <td>Major Osteoporotic Fracture</td>
          <td>{{ fracture }}</td>
        </tr>
      {% endif %}
      {% if combination and T7 %}
        <tr>
          <td>combination</td>
          <td>{{ combination }}</td>
        </tr>
        <tr>
            <td>T7</td>
            <td>{{ T7 }}</td>
          </tr>
      {% endif %}
      {% if lva %}
        <tr>
          <td>LVA</td>
          <td>{{ lva }}</td>
        </tr>
      {% endif %}
    </table>
  </blockquote>
  
  <blockquote>
  {% if report %}
    report: {{ report }}<br>
    <img src="{{ report }}" alt="My image">
  {% endif %}
  </blockquote>

  <br>
  <li>dataset:</li>
  <pre>{{ dataset }}</pre>

  <p><a href="{% url 'manage_dcm' %}">Return to Manage DCM</a></p>
  <p><a href="{% url 'home' %}">Return to home</a></p>
{% endblock %}