{% extends 'base.html' %}

{% load static %}

{% block content %}

  <li>id: {{ pid }}</li>
  <li>name: {{ name }}</li>
  <li>sex: {{ sex }}</li>
  <li>age: {{ age }}</li>
  <li>mp: {{ mp }}</li>

  {% if APSpine %}
    <li>APSpine: {{ APSpine }}</li>
  {% endif %}

  {% if DualFemur %}
    <li>DualFemur: {{ DualFemur }}</li>
  {% endif %}

  {% if fracture %}
    <li>fracture: {{ fracture }}</li>
  {% endif %}

  {% if combination and T7%}
    <li>combination: {{ combination }}</li>
    <li>T7: {{ T7 }}</li>
  {% endif %}

  {% if lva %}
    <li>LVA: {{ lva }}</li>
  {% endif %}
  
  <li>dataset: {{ dataset }}</li>

  {% if report %}
    <li>report: {{ report }}</li>
    <img src="{{ report }}" alt="My image">
  {% endif %}

  <p><a href="{% url 'home' %}">Return to home</a></p>
{% endblock %}