{% extends 'base.html' %}

{% load static %}
<!-- TODO: 864 error -->
{% block content %}
  {% if result_correct %}
    <div class="row">
      <div class="col-10">
        <h3>Result: <span class="badge badge-success">{{ result_correct }}</span></h3>
      </div>
      <div class="col-1">
        <form action="/uploads/report/" method="post" class="text-right">
          {% csrf_token %}
          <!-- <input type="submit" value="download report"> -->
          <button type="submit" class="btn btn-primary">Download Report</button>
        </form>
      </div>
    </div>
    <br>

    <table class="table table-bordered table-hover">
      <tr>
        <th colspan="3" scope="row" style="background-color:#e2f4f9" class="text-center"><h5>ADVANCED DATA RETRIEVAL</h5></th>
      </tr>
      <!-- {% if grade %} -->
        <tr>
          <td width="30%" style="background-color:#e2f4f9" colspan="2">LVA Grade</td>
          <td>{{ grade }}</td>
        </tr>
      <!-- {% endif %}
      {% if majorFrac and hipFrac%} -->
        <tr>
          <td style="background-color:#e2f4f9" rowspan="2" class="align-middle" width="5%">Frax</td>
          <td style="background-color:#e2f4f9" width="17%">Major Osteoporotic Fracture</td>
          <td>{{ majorFrac }}</td>
        </tr>
        <tr>
          <td style="background-color:#e2f4f9">Hip Fracture</td>
          <td>{{ hipFrac }}</td>
        </tr>
      <!-- {% endif %} -->
    </table>
  {% endif %}
  {% if result_warn %}
    <div class="row">
      <div class="col-10">
        <h3>Result: <span class="badge badge-danger">{{ result_warn }}</span></h3>
      </div>
      <div class="col-1">
        <form action="/uploads/report/" method="post" class="text-right">
          {% csrf_token %}
          <!-- <input type="submit" value="download report"> -->
          <button type="submit" class="btn btn-primary">Download Report</button>
        </form>
      </div>
    </div>
    <br>
  {% endif %}
  <table class="table table-bordered table-hover">
    <tr>
      <th colspan="6" scope="row" style="background-color:#f5efff" class="text-center"><h5>ENROLLED PATIENTS INFO</h5></th>
    </tr>
    <tr>
      <td width="22%">期間</td>
      <td scope="row">總人數</td>
      <td scope="row">總檢查數</td>
      <td scope="row">總Spine數</td>
      <td scope="row">總Hip數</td>
      <td scope="row">總Forearm數</td>
    </tr>
    <tr>
      <td>{{ name }}</td>
      <td>{{ sex }}</td>
      <td>{{ age }}</td>
      <td>{{ mp }}</td>
      <td>{{ region }}</td>
      <td>{{ tscore }}</td>
    </tr>
  </table>
  <table class="table table-bordered table-hover">
    <tr>
      <th colspan="3" scope="row" style="background-color:#f3fdf3" class="text-center"><H5>ANALYZE THROUGH ITRI SYSTEM</H5></th>
    </tr>
    <tr>
      <td width="22%" scope="row" style="background-color:#f3fdf3">Group-by</td>
      <td>{{ group }}-score</td>
    </tr>
    <tr>
      <td scope="row" style="background-color:#f3fdf3">Mean</td>
      <td>{{ mean }}</td>
    </tr>
    <tr>
      <td scope="row" style="background-color:#f3fdf3" rowspan="2" class="align-middle">Aver. Deviation</td>
      <td>{{ dist1 }}</td>
    </tr>
    <tr>
      <td>{{ dist2 }}</td>
    </tr>
    <tr>
      <td scope="row" style="background-color:#f3fdf3">Region Filter</td>
      <td>{{ regionFilter }}</td>
    </tr>
    <tr>
      <td scope="row" style="background-color:#f3fdf3">SR</td>
      <td>{{ machineOutcome }}</td>
    </tr>
    <tr>
      <td scope="row" style="background-color:#f3fdf3">SRi</td>
      <td>{{ outcome }}</td>
    </tr>
  </table>
  <br>

{% endblock %}
