{% extends 'base.html' %}

{% load static %}

{% block content %}
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="input-group mb-3">
      <div class="custom-file">
        <input type="file" name="myfile" class="custom-file-input" id="inputGroupFile02" onchange="$('#upload-file-info').html(this.files[0].name)">
        <label class="custom-file-label" id="upload-file-info" for="inputGroupFile02">Choose single ZIP file containing multiple files to upload</label>
      </div>
      <div class="input-group-append">
          <button type="submit" class="btn btn-primary">Upload</button>
      </div>
    </div>
  </form>
  Please put all the patient folders that you want to upload in a folder, and zip it into a zip file!!
  <br><br>
  {% if uploaded_file_url %}
    {% if failed %}
      Failed, files already exist: <br>
      {{ failed }}<br><br>
    {% endif %}
    {% if success %}
      Uploaded Success: <br>
      {{ success }}<br><br>
    {% endif %}
    <p>Uploaded time: {{ time }}</p>
  {% endif %}
{% endblock %}

