{% extends 'base.html' %}

{% load static %}

{% block content %}
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="myfile">
    <button type="submit">Upload</button>
  </form>

  {% if warning %}
    <li>{{ warning }} already exists!!</li>
  {% endif %}

  {% if uploaded_file_url %}
    <p>File uploaded at: {{ uploaded_file_url }}</p>

    <li>Patient's Basic Data</li>
    <blockquote>
      <table border="1">
        <tr>
          <td style="width:220px">Patient ID</td>
          <td style="width:500px">{{ pid }}</td>
        </tr>
        <tr>
          <td>Patient Name</td>
          <td>{{ name }}</td>
        </tr>
        <tr>
          <td>Sex</td>
          <td>{{ sex }}</td>
        </tr>
        <tr>
          <td>Age</td>
          <td>{{ age }}</td>
        </tr>
        <tr>
          <td>MP age</td>
          <td>{{ mp }}</td>
        </tr>
      </table>
    </blockquote>
    <br>

    <li>Data grab from ITRI system:</li>
    <blockquote>
      <table border="1">
        {% if scanType %}
          <tr>
            <td style="width:220px">Scan Type</td>
            <td style="width:500px">{{ scanType }}</td>
          </tr>
        {% endif %}
        {% if region %}
          <tr>
            <td style="width:220px">Region</td>
            <td style="width:500px">{{ region }}</td>
          </tr>
        {% endif %}
        {% if tscore %}
          <tr>
            <td style="width:220px">T-score</td>
            <td style="width:500px">{{ tscore }}</td>
          </tr>
        {% endif %}
        {% if zscore %}
          <tr>
            <td style="width:220px">Z-score</td>
            <td style="width:500px">{{ zscore }}</td>
          </tr>
        {% endif %}
        {% if APSpine %}
          <tr>
            <td style="width:220px">APSpine</td>
            <td style="width:500px">{{ APSpine }}</td>
          </tr>
        {% endif %}
        {% if DualFemur %}
          <tr>
            <td style="width:220px">DualFemur</td>
            <td style="width:500px">{{ DualFemur }}</td>
          </tr>
        {% endif %}
        {% if fracture %}
          <tr>
            <td style="width:220px">Fracture</td>
            <td style="width:500px">{{ fracture }}</td>
          </tr>
        {% endif %}
        {% if combination and T7 %}
          <tr>
            <td style="width:220px">(Region, T-score, Z-score)</td>
            <td style="width:500px">{{ combination }}</td>
          </tr>
          <tr>
            <td style="width:220px">T7</td>
            <td style="width:500px">{{ T7 }}</td>
          </tr>
        {% endif %}
        {% if lva %}
          <tr>
            <td style="width:220px">LVA</td>
            <td style="width:500px">{{ lva }}</td>
          </tr>
        {% endif %}
      </table>
    </blockquote>
    <br>
    
    <blockquote>
    {% if report %}
      report: {{ report }}<br>
      <img src="{{ report }}" alt="My image">
    {% endif %}
    </blockquote>

    <br>
    <li>dataset:</li>
    <pre>{{ dataset }}</pre>
    
  {% endif %}

  <p><a href="{% url 'home' %}">Return to home</a></p>
{% endblock %}