<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #c5eaf4">
  <a class="navbar-brand" href="#">ITRI System</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'upload_dcm' %}">Upload DCM</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'upload_zip' %}">Upload ZIP</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'manage_dcm' %}">Manage DCM</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'manage_zip' %}">Manage ZIP</a>
      </li>
    </ul>
  </div>
</nav>
<br>